# Ignore virtual environment
venv/
.env
*.venv
Pipfile
Pipfile.lock

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
logs/
*.log
*.out
*.tmp
*.swp
*.swo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/raw/
data/interim/
data/processed/
*tft_matches.json
*.parquet
*.zip
*.tgz

# Ignore VSCode settings
.vscode/
